
html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

body {
  margin: 0px;
}

.header {
  overflow: hidden;
  background-color: #EC6F75;
  padding: 10px;
  border-radius: 4px;
}

.header .nav-item {
  float: left;
  color: #FFF;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header .logo {
  font-size: 40px;
}

.nav-right {
  float: right;
}

.loading-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  margin-top: 10em;
}

.dashboard {
  width: 80%;
  margin: auto;
}

.get-best-player-button {
  display: block;
  margin-bottom: 9px;
}

.player-num-search-container {
  overflow: hidden;
  padding-right: .5em;
}

.player-number-search {
  width: 100%;
}

.refresh {
  float: right;
}

.refresh-text {
  margin: 0;
}

.search-form {
  text-align: left;
}

.game-box {
  border-width: 3pt;
  border-style: solid;
  border-radius: 3pt;
  margin-bottom: 5px;
  padding: 20px;
  text-align: center;
}

.gold {
  background-color: #F5CB5C;
  border-color: #B49B57;
}

.silver {
  background-color: #D2D4C8;
  border-color: #9CA29E;
}

.game-title {
  margin-top: 0px;
}
